{% extends 'base.html.twig' %}

{% block body %}
    <div class="about">

        <section class="section section-dark">
            <div class="container">
                <div class="row">
                    <div class="col-8 offset-2">
                        <div class="about-photo-lea text-center">
                            <img class="img-lea" src="{{ asset('img/photos/about-lea-profil.jpg') }}" alt="photo de profil de Léa"
                                 width="250">
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </section>

    <section class="section section-light">
        <div class="container">
            <div class="row">
                <div class="col-8 offset-2">
                    <div class="about-lea-life">
                        <div class="about-intro text-justify">
                            <p>Originaire d'Alsace, j'ai toujours adoré pratiquer les arts plastiques dès mon plus jeune
                                âge. Pourtant mon intérêt pour l'art ne s'est développé qu'à mon arrivée au lycée, et,
                                après l'obtention de mon Bac et une orientation (quelque peu désastreuse…), j'ai décidé
                                de m'octroyer une année pour méditer sur mon avenir.</p>
                            <p>La passion que j'éprouve depuis toujours pour les animaux a été pour moi une grande
                                source d'inspiration pendant mon année sabbatique. C'est notamment durant cette dernière
                                que j'ai découvert timidement le pastel ainsi que l'aquarelle, et que mes premiers
                                portraits animaliers sont nés.</p>
                            <p>Après cette longue introspection, je m'étais décidée à faire des études artistiques, j'ai
                                donc entamé une Licence d'Arts Plastiques à Strasbourg en 2015. Les animaux n'ayant pas
                                été au programme et n'ayant pas fait l'objet d'études durant ma formation, c'est ma
                                pratique personnelle qui m'a permis de m'améliorer.</p>
                            <p>Au fil des mois, je fais la découverte d'artistes animaliers, je les admire, je m'en
                                inspire, je les envie… Et le déclic se fait, fin 2017, sous les encouragements de mes
                                proches, je me lance dans l'activité des portraits animaliers. Ce n'était pas facile au
                                départ et mes débuts sont discrets. Aujourd'hui j'ai terminé ma Licence et je poursuis
                                mes études vers un Master MEEF, car j'aspire à devenir enseignante. Néanmoins, si plus
                                tard j'ai la possibilité de faire de ma passion un métier, de passer le restant de ma
                                vie à peindre des animaux, ce serait l'aboutissement d'un rêve !</p>

                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section class="section section-light">
        <div class="container">
            <div class="about-drawing">

            </div>
        </div>
    </section>


    </div>


{% endblock %}
