{% extends 'base.html.twig' %}

{% block body %}
    <div id="contact">
        <div class="container">
            <section class="section section-light">

            </section>

            <section class="section section-dark">

            </section>

        </div>


    </div>

{% endblock %}
