{% extends 'base.html.twig' %}

{% block body %}
gallery-page

        <a href="{{ path('gallery_watercolors') }}">Aquarelles</a>
        <a href="{{ path('gallery_paintings') }}">Peintures</a>
        <a href="{{ path('gallery_pastel') }}">Pastels</a>


{% endblock %}