{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
    <div class="home">

        <section class="section section-light">

            <div class="container container-home-intro">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 col-12">
                        <div class="home-intro">
                            <h1 class="home-intro-h1">Bonjour et bienvenue !<br><br></h1>
                            <p>Je suis Léa, une étudiante de 21 ans, et je réalise des portraits animaliers sur
                                commande,
                                d'après photographie.</p>
                            <p>Sur mon site, vous trouverez l'ensemble de mes réalisations à travers mes galeries
                                d'aquarelles, de pastels et de peintures.</p>
                        </div>

                        <div class="speed-drawing-text">
                            <p>Je possède une chaîne YouTube sur laquelle vous pourrez découvrir mes vidéos de " speed
                                drawing ".</p>

                            <p>Le speed drawing est une vidéo montrant, de manière accélérée, la réalisation d'un
                                dessin.</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <iframe class="home-speed-drawing-video" width="450" height="350"
                            src="https://www.youtube.com/embed/JWJps9IaciE" frameborder="0"
                            allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </section>


        <section class="section section-dark">
            <div class="container container-home-gallery">
                <div class="home-gallery">
                    <div class="row">
                        <div class="col-lg-9 offset-lg-1">
                            <div class="home-gallery-text">
                            </div>
                            <a href="{{ path('gallery') }}#gallery-pastel"><img class="home-gallery-img"
                                                                                src="{{ asset('img/photos/galerie.jpg') }}"
                                                                                alt="image galerie des oeuvres"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div class="section section-light">
            <div class="container">
                <div class="home-take-picture">
                    <div class="col-lg-9 offset-lg-1">
                        <p class="order-intro-1 text-center">Si vous souhaitez immortaliser cette étincelle qui
                            rend votre animal de compagnie unique, ou bien offrir un cadeau à l'un de vos proches, je vous
                            propose, à partir d'une photographie, de créer le portrait de votre compagnon, qu'il soit de
                            plumes, de poils ou à écailles !</p>

                        <div class="row justify-content-center">
                            <svg class="home-bird" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="-0.9189595636331802 -24.60728497775095 196.65571392707105 180.11457911077534"
                                 role="img" preserveAspectRatio="xMidYMid meet" style="stroke-width: 1px;">
                                <g>
                                    <path d="M177.4 6.7c-3.2 0-4.6-6.7-16.8-6.7-13.6 0-23.5 21.9-32 27.7-17.7 12-61 43.6-85.6 43.6-22.7 0-43 8.2-43 10.4 0 2.1 9.7 6.7 17.9 6.7s21.3-7.9 28.1-7.9c8.4 0 23.3 3.5 19.8 5.6-5.9 4-20.6 13.8-14.3 13.8 6.4 0 25-7.2 31.3-7.2 11.8 0 15.8 9.4 15.8 9.4l7.5 14s3.2 5.6-2 5.6c-8.5 0-15.3 4.8-11.5 4.8 4 0 4.7-2.5 17-2.5 5 0 15.9 6.9 17.4 6.9 1.6 0-.7-2.8.1-3.3s5.8 2.3 5.8.2-14.1-2-14.1-4.3c0-.7 6-.2 9.4-.2 4.2 0 6.1 5.2 13.1 5.2 5 0-3.4-2.1.6-2.1 6.8 0 7.1 2.4 7.1 1.2 0-3.6-14.5-1.6-19.4-9.9-.9-1.5-9.1-15.9-9.1-15.9s-1.7-2.4.1-2.7c18.5-2 51.3-16 48.3-49.6-3.1-35.1 9.3-35.1 25.9-39.5-.1 0 1.9-3.3-17.4-3.3zm-56.2 103.1c3.3 6.4 5.3 10.8 2.5 10.8h-7.3c-4 0-5.7-2.7-5.7-2.7l-8.4-15.9c-1.3-2.7-.3-3.7.8-3.5 3.7.6 6.2.9 10.4 1 2.6.2 4.3 3.9 7.7 10.3z"></path>
                                </g>
                            </svg>

                            <svg class="home-lezard" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="-13.569988250732422 13.115296703754098 263.7510070800781 266.36240318978184"
                                 role="img" preserveAspectRatio="xMidYMid meet" style="stroke-width: 1px;">
                                <g>
                                    <path d="M130.254 14.421c.121.459.484.686 1.166.598 3.299 4.13-1.527 7.123-.729 12.291 1.126 2.188 4.732 1.94 6.997 3.004 1.974-3.077 13.177-12.863 14.68-3.932 1.436 8.505-18.007 2.898-13.057 15.665 2.943 3.784 11.694 2.895 10.43 9.486-1.316 6.867-11.694 2.772-11.667-4.231-5.905.323-12.284 5.162-13.023 12.734 22.091 9.095 37.857 26.799 34.474 58.946 8.721-.749 22.265-15.422 28.737-4.355 3.55 6.065.742 14.865 3.26 22.874 2.939-3.433-2.318-13.42 5.409-12.818 6.393 3.625-.726 8.421-1.899 12.858.886 2.41 3.22 3.409 5.22 4.749 3.32-2.162 12.226-10.997 13.507-3.37 1.208 7.17-9.545 2.18-11.793 6.894.609 9.938 15.708-3.803 15.132 7.786-.449.129-.681.482-.592 1.159-4.64 3.555-7.222-2.286-12.277-1.892-2.389 1.105-2.806 4.238-4.169 6.395 2.239 7.451 6.07 3.112 6.332 9.439.122 2.796-1.438 5.428-3.573 5.819-7.905 1.44-3.768-8.552-6.309-12.371-1.665-2.496-6.016-3.362-7.575-3.016-5.997 1.363-3.233 12.037-11.818 9.241-1.625-.529-2.764-2.588-2.88-4.133-.403-5.468 6.458-5.512 9.446-6.924-1.606-7.491-4.271-13.966-9.161-18.249-5.685 5.837-10.055 13.005-17.759 16.778-3.609 17.258-14.102 27.173-24.457 39.537-9.587 11.463-22.075 24.351-20.389 42.527 2.241 24.18 27.428 35.111 54.034 37.499-3.803 2.028-10.158 1.457-14.659 2.763-3.33-.038-6.646-.085-9.961-.112-22.996-3.363-38.381-20.724-39.926-42.614-1.349-19.084 6.763-32.835 14.565-45.515 6.145-9.98 19.035-25.107 16.794-34.942-5.21-2.707-14.102-6.065-19.775-11.933-2.7-2.787-4.513-8.196-8.689-8.294-3.995-.098-10.838 6.365-8.937 13.366 3.648 1.192 10.238-1.843 9.905 4.206-3.362 4.922-6.833-1.691-10.514-1.869-1.831.492-1.96 2.732-3.56 3.468.543 4.102 5.016 4.36 5.175 8.842-6.984 7.542-4.428-6.288-9.291-7.133-4.843 2.728 2.863 11.645-4.814 11.659-1.321-.44-1.729-1.784-2.312-2.948.236-3.318 3.264-3.775 3.019-7.585-1.621-1.321-2.712-3.059-5.241-2.988-2.098.061-12.579 10.304-11.715.455.409-4.669 5.842-2.714 9.991-3.4 8.032-7.119-5.439-9.559-4.52-14.691.263-1.438.715-2.801 3.553-2.885 4.456-.14 3.337 4.234 5.178 7.671 2.608-1.096 5.637-1.737 8.81-2.241 6.2-4.737 3.029-17.87 11.354-19.785 6.399-1.47 13.364 3.4 21.033 3.751 2.189-12.38-9.088-16.57-19.106-18.956-.772 3.159-1.484 6.388-1.863 9.936-3.489 3.149-9.306 3.908-15.282 4.515-1.096 2.824-3.545 4.262-5.339 6.379.873 3.236 4.726 8.688-.702 9.95-3.813-1.394-1.38-5.773-1.64-9.978-1.513-.648-2.856-1.457-5.26-1.225-3.091 1.566-1.468 7.969-6.526 7.533-.051-1.105-1.932-.431-1.739-1.775-1.199-6.168 6.589-3.138 5.957-8.718-3.962-4.4-8.505 6.526-12.303.44-.206-6.016 5.756-2.606 9.413-3.988.628-1.534.745-3.578.653-5.845-3.454-2.18-9.58-2.988-7.515-8.87 8.051-5.44 6.588 11.924 15.748 5.444 1.66-3.442.419-9.837 5.969-9.306 6.009 3.538-1.245 7.283-1.885 11.116 2.325-.197 5.604.59 7.025-.508.494-5.581 2.128-12.617.793-18.141-5.483-.337-6.2 5.021-10.612 6.903-18.911 8.064-53.46-14.256-57.703-24.075l.052-4.686c1.292-6.676 11.566-12.241 17.735-15.022 10.664-4.81 35.167-13.612 45.122-2.422 4.017 4.519 2.578 8.398 7.5 9.457 12.28 2.638 25.623-10.034 27.737-19.011-4.034-2.385-9.448 2.673-12.872-.728-.171-1.38-.899-2.209-.543-4.114 3.807-5.163 7.643 1.224 12.874 1.323 1.635-1.486 2.811-3.443 3.576-5.819-.827-4.016-5.611-4.162-7.528-7.109 2.26-13.649 8.643.433 10.485 4.803 10.599-1.009-5.985-15.668 6.619-15.737z"></path>
                                </g>
                            </svg>

                            <svg class="home-dog" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="-0.9677421548864373 -6.1471788385412225 170.49434318123284 170.49434318123284"
                                 role="img" preserveAspectRatio="xMidYMid meet" style="stroke-width: 1px;">
                                <g>
                                    <path d="M113.5 19.8c0 3.7-16.3 21-16.3 38.8 0 2.9.5 5 .5 6.4 0 1.9-48.5 15.4-48.5 54.1 0 11 2.4 12.3 2.4 15.3s-13.3 2.9-21.2 2.9c-17.7 0-23.1-12.5-26.6-12.5-6.4 0-8.7 33.5 25.3 33.5 25.2 0 30.7-12 32.3-12 1.6 0 5.3 10.4 25.4 10.4s32.9-.2 39.8-.2c6.9 0 1.3-10.2-6.1-10.2-10.4 0-12.4.9-12.4-4.2 0-7.5 5.4-12 5.4-23.6 0-4.9 6.4-3.5 6.4.2 0 12.9 17.9 37.2 23.3 37.2 5.2 0 12 .7 12-5.2 0-9.8-17.7 10.6-17.7-42.4 0-10.5 3.9-18.6 3.9-35.6 0-15.9-3.4-20.2-3.4-23.7 0-3.3 5.8.8 13.3.8 9 0 12.8-8.3 12.8-9.2 3.9 0 4.5-4.1 4.5-7.3 0-3-20-5.9-20-9 0-4.8-8.8-7.9-8.8-9.1 0-1.4 3.9-10.7-.8-10.7-3.1 0-9.4 7.9-11 7.9-.6 0 .3-12.5-2.5-12.5-1.8.1-12 6.8-12 19.9z"></path>
                                </g>
                            </svg>
                        </div>
                        <a class="order-intro-2 text-center">Avant de commander votre portrait, il faut au préalable
                            que vous choisissiez la photographie qui me servira de modèle, la technique que
                            j'utiliserai ainsi que les dimensions de votre tableau. Pour plus de conseils afin de
                            vous aider dans votre décision, je vous invite à parcourir l'onglet <a
                                    href={{ path('order') }}>" Commande ".</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}