{% extends 'base.html.twig' %}

{% block body %}
<div class="home">

    <section class="section section-light">
        <div class="container">
            <div class="home-intro">
                text introduction
            </div>
            <div class="row home-speed-drawing">
                <div class="col align-self-center">
                    <iframe class="home-speed-drawing border border-white" width="560"height="415" src="https://www.youtube.com/embed/JWJps9IaciE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            <div class="speed-drawing-text">
                Text speed drawing
            </div>
        </div>
    </section>


    <section class="section section-dark">
        <div class="container">
            <div class="home-pastel">
            <img class="img-thumbnail" width="450" src="{{ asset('img/photos/photo-25.jpg') }}" alt="First slide">
                <div class="home-pastel-text">
                    Text pastel
                </div>
            </div>
        </div>
    </section>


    <section class="section section-light">
        <div class="container">
            <div class="home-watercolors">
                <img class="img-thumbnail" width="450" src="{{ asset('img/photos/photo-21.jpg') }}" alt="First slide">
                <div class="home-watercolors-text">
                    Text watercolors
                </div>
            </div>
        </div>
    </section>


    <section class="section section-dark">
        <div class="container">
            <div class="home-paintings">
                <img class="img-thumbnail" width="450" src="{{ asset('img/photos/photo-10.jpg') }}" alt="First slide">
                <div class="home-paintings-text">
                    Text paintings
                </div>
            </div>
        </div>
    </section>
</div>

    {% endblock %}