{% extends 'base.html.twig' %}

{% block body %}
    <div id="order">


        <div class="section section-light">
            <div class="container">

                <div class="tariff">

                </div>
            </div>


        </div>
    </div>

{% endblock %}
