{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="section section-light">
            <div class="order-take-picture">
                <h2>P</h2>
                <img id="comp-jevzfyaiimgimage" alt="" data-type="image"
                     src="https://static.wixstatic.com/media/d45399_555ac5f4b8dd4cbcbd4a61a028ed14f2~mv2.jpg/v1/fill/w_303,h_360,al_c,q_80,usm_0.66_1.00_0.01/d45399_555ac5f4b8dd4cbcbd4a61a028ed14f2~mv2.webp"
                     style="width: 227px; height: 270px; object-fit: cover;">
                <img id="comp-jevzfyagimgimage" alt="" data-type="image"
                     src="https://static.wixstatic.com/media/d45399_ecaf7bf2946d4062bca7c2ffa0f4d52e~mv2.jpg/v1/fill/w_275,h_351,al_c,lg_1,q_80/d45399_ecaf7bf2946d4062bca7c2ffa0f4d52e~mv2.webp"
                     style="width: 206px; height: 263px; object-fit: cover;">
            </div>
        </div>

        <div class="section-section-dark">
            <div class="tariff">

            </div>
        </div>


    </div>

{% endblock %}
