{% extends 'base.html.twig' %}

{% block body %}
 <id class="tariff-page">

     <section class="section section-light">
         <div class="container container-tariff-pastel">
             <h2 class="text-center">Pastel sec</h2>
         </div>


     </section>

     <section class="section section-dark">
         <div class="container container-tariff-paintings">
             <h2 class="text-center">Peinture acrylique</h2>
         </div>
     </section>





 </id>











{% endblock %}