.gallery {

  #gallery-watercolors {
    img {
      padding-top: 20px;
    }

    .gallery-watercolors-title {
    }

  }

  #gallery-paintings {
    img {
      padding-top: 20px;
    }
  }

  #gallery-pastel {
    img {
      padding-top: 20px;
    }
  }

}


