.gallery {

  img:hover {
    opacity: 0.8;
  }

  #gallery-watercolors {
    img {
      padding-top: 20px;
      width: 100%;


    }

    .gallery-watercolors-title {
    }

  }

  #gallery-paintings {
    img {
      padding-top: 20px;
      width: 100%;
    }
  }

  #gallery-pastel {
    img {
      padding-top: 20px;
      width: 100%;
    }
  }

}


