
.home {
  display: block;

  .container {
    padding: 50px
  }

  .home-intro {
    //color: $white;
    text-align: justify;
  }

  .home-intro-h1 {
    text-align: center;
  }

  .home-speed-drawing-video {
    // position: absolute;
    //left: 50%;
    //margin-left: -225px;
    border: solid 6px white;
    //bottom: -160px;
    z-index: 1;
    margin-top: 50px;
  }

  .speed-drawing-text {
    text-align: justify;
  }

  .home-gallery {

    .home-gallery-img {
      width: 110%;

      &:hover {
        opacity: 0.9;
      }

    }
  }

  h2 {
    text-align: center;
  }

  .home-take-picture {
    .home-bird {
      width: 40px;
      fill: $dark;
    }

  }

  .home-lezard {
    width: 40px;
    fill: $dark;

  }

  .home-dog {
    width: 40px;
    fill: $dark;

  }
}

