#order {
  display: block;

  .order-photographie-p {
    display: inline-block;
    padding: 20px;
    background-color: $light;
    border-radius: 1%;
    margin-bottom: 40px;
    font-size: 1.2em;

    .row {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  .order-take-picture {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 40px;

    .order-take-picture-wrong {
      @extend .img-thumbnail;
      transform: rotate(7deg);
      width: 280px;
      z-index: 100;
    }

    .order-take-picture-good {
      @extend .img-thumbnail;
      width: 300px;
      z-index: 200;
    }

    .order-take-picture-img {
      width: 100%;
    }

    .order-take-picture-check {
      width: 70px;
      padding-top: 8px;
    }

    .img-thumbnail {
      padding: 8px;

      -moz-box-shadow: 1px 1px 2px 1px #cfcfcf;
      -webkit-box-shadow: 1px 1px 2px 1px #cfcfcf;
      -o-box-shadow: 1px 1px 2px 1px #cfcfcf;
      box-shadow: 1px 1px 2px 1px #cfcfcf;
      filter: progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=2);

    }
  }
  #order-technique {

    .order-model {
      display: flex;
      flex-direction: row ;
      flex-grow: 1;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding-bottom: 40px;


      .img-pastel-painting {
        img {
          @extend .img-thumbnail;
          width: auto;
          max-width: inherit;
          height: 440px;
        }

        margin: 5px;
      }
      .img-pastel-painting:hover {
        opacity: 0.8;
      }
    }
  }
}