
.section {
  padding: 50px 0;

  &.section-light {
    background-color: whitesmoke;
    color: $dark;
  }

  &.section-dark {
    background-color: lighten($light, 10);
    color: $dark;
  }
}

.mfp-title {
  text-align: center;
}