.footer {
    font-size: 80%;
    text-align: center;
    color: #fff;
    background-color: $dark;

    .footer-credits {
        padding: 20px 0;
        margin-bottom: 0;
    }

    .socials {
        padding: 17px;

        .fab {
            justify-content: space-around;
            background-color: dimgrey;
            color: white;
            text-decoration: none;
            border-radius: 30%;
            width: 32px;
            height: 32px;
            line-height: 32px;

            &.fa-facebook-f:hover {
                background: #3B5998;
                color: white;
            }

            &.fa-instagram:hover {
                background: lighten(red, 20);
                color: white;
            }

            &.fa-youtube:hover {
                background: $red;
                color: white;
            }
        }
    }


}