$header-line-width: 300px;

#header {
  background-color: $dark;
  height: 210px;
  position: relative;

  .container {
    padding: 30px 0 30px 0;
  }

  .header-line {
    width: $header-line-width;
    height: 3px;
    border-radius: 5px;
    background-color: rgb(242, 138, 116);
    //position: absolute;
    //margin: auto;

    //z-index: 1015;
  }

  .header-logo {
    //background-color: coral;
    width: 500px;
    //z-index: 1010;

  }
  .header-art-animalier {
    position: absolute;
    left: 265px;
    top: 92px;
  }

}