<div class="fixed-bottom footer">
   © Léa Muller - Art animalier
   <div class="socials">
      <a href="https://www.facebook.com/lm.artanimalier/"><i class="icon ion-social-facebook"></i></a>
      <a href="https://www.youtube.com/channel/UCaPvADUYV1HvjVmBEaukBCA"><i class="icon ion-social-youtube"></i></a>
      <a href="https://www.instagram.com/littleraccoonart/?hl=fryoutube"><i class="icon ion-social-instagram"></i></a>
   </div>


</div>