<div class="footer">

   <div class="container">
      <div class="row">
         <div class="col footer-btn-mail">
            <a href="mailto:l.muller1001@gmail.com"><button type="button" class="btn btn-info">Envoyez-moi un mail</button></a>

         </div>
         <div class="col-md-4">
            <p class="footer-credits">
               © Léa Muller - Art animalier
            </p>
         </div>
         <div class="col-md-4">
         <div class="aside-bottom socials">
            <a href="https://www.facebook.com/lm.artanimalier/" class="fab fa-facebook-f" target="_blank"></a>
            <a href="https://www.youtube.com/channel/UCaPvADUYV1HvjVmBEaukBCA" class="fab fa-youtube" target="_blank"></a>
            <a href="https://www.instagram.com/lea_muller_art/" class="fab fa-instagram" target="_blank"></a>
         </div>
      </div>
</div>