<header id="header">

    <img class="header-logo" src="{{ asset('img/photos/lea.png') }}" alt="logo léa"/>
    <div class="header-line"></div>
    <img src="{{ asset('img/photos/gorille-header-2.png') }}" alt="gorille peinture" class="gorilla-header">

</header>